@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #fff;
    --cor1: #cec657;
    --cor2: #ebd40c;
    --cor3: #ffee00;
    --cor4: #070700;
    --font0: Arial, Verdana ,Helvetica, sans-serif;
    --font1: 'Bebas Neue', cursive;
    --font2: Georgia, serif;;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4);
}

header {
    font-family: var(--font1);
    color: var(--cor4);
    background-color: var(--cor3);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.company {
    font-size: 40px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 20px 20px;
}

.menu a {  
    font-family: var(--font1);
    font-size: 20px;
    text-decoration: none;
    color: var(--cor4);
    padding: 10px;
    margin: 5px;
}

.menu a:hover {
    color: var(--cor0);
}

#language-select {
    background-color: var(--cor0);
    color: var(--cor4);
    font-family: var(--font2);
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search-container {
    display: flex;
    margin: 30px auto;
    width: 500px;
    border: solid var(--cor4) 2px;
    border-radius: 20px;
    background-color: var(--cor0);
}

#search-bar {
    width: 100%;
    font-family: var(--font2);
    font-size: 15px;
    padding: 0px 20px;
    border: none;
    outline: none;
    border-radius: 20px 0px 0px 20px;
}

.search-icon{
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 0px 20px 20px 0px;
}  